@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'Fira Code', monospace;
}

@layer base {
  body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: #09090b;
    color: #fafafa;
  }
}

/* Monospace terminal logs styles */
.terminal-stream {
  font-family: var(--font-mono);
}

/* Custom premium scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
